/*
	Melbourne css file
    Version: 0.1.2;
*/

/*
------------------------
Melbourne header
------------------------
*/

.social-links-container {
    width: 1170px;
    margin: auto;
    padding: 0 2%; 
    text-align: right;
}

.social-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 40px;
}

.social-link img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.social-link img:hover {
    top: auto;
    bottom: 0px;
}

@media only screen and (max-width: 1170px) { /* As a sydney template. Change to 1024 in the future. */
    .social-links-container {
        display: none;
    }
}

/*
------------------------
Melbourne contact widget
------------------------
*/

.contact-widget-container {
	text-align: center;
	margin: 20px;
}

.widget-contact-rounded-container {
    margin: 0 auto 20px auto;
    width: 100px;
    height: 100px;
    position: relative;
	overflow: hidden;
	webkit-border-radius: 50%;
	moz-border-radius: 50%;
	ms-border-radius: 50%;
	o-border-radius: 50%;
	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
}
	
.widget-contact-rounded-container img {
	height: 100%;
	margin: 0 -100%;
	min-width: 100px;
	max-width: none;
}

.widget-contact-h-line {
	display: block;
    border: 0;
    /*border-top: 1px solid #77a;
    width: 80%;*/
    height: 1px;
    margin: 0.5em 0;
    padding: 0;
}

/*
----------------------------------
Melbourne illusatrated text widget
----------------------------------
*/

.melbourne-illustrated-text-container {
	/*position: relative;*/
}

.melbourne-illustrated-text-content-container {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
	padding: 15px;
	text-align: justify;
}

.melbourne-illustrated-text-img-container {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	padding: 15px;
}

@media only screen and (max-width: 1024px) {
	.melbourne-illustrated-text-content-container,
	.melbourne-illustrated-text-img-container {
		display: block;
		width: auto;
	}
}
